# Virtual Environment
venv/
.venv/
env/

# Environment Variables / Secrets
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Databases
*.db
*.sqlite3
database/database.db

# Python Cache
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# IDE / Editor Files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
